# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/.vite/deps/@mui_material.js
/.vite/deps/@mui_material.js.map
/.vite/deps/@mui_material_styles.js
/.vite/deps/@mui_material_styles.js.map
/.vite/deps/_metadata.json
/.vite/deps/chunk-6EPYQA3G.js
/.vite/deps/chunk-6EPYQA3G.js.map
/.vite/deps/chunk-L3376G5T.js
/.vite/deps/chunk-L3376G5T.js.map
/.vite/deps/chunk-YIEACHPR.js
/.vite/deps/chunk-YIEACHPR.js.map
/.vite/deps/package.json
/.vite/deps/react.js
/.vite/deps/react.js.map
/.vite/deps/react-dom_client.js
/.vite/deps/react-dom_client.js.map
/.vite/deps/typewriter-effect.js
/.vite/deps/typewriter-effect.js.map
/public/lucaseng-resume-may-2024.pdf
/.vite/deps_temp_8fcfcf76/package.json
